
<div class="card-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Faith Adhiambo</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/Faith.jpg" class="card-image">
        <mat-card-content>
            <p>Faith is a software engineer and a radical remnant passionate about God's Kingdom and its advancement.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">CONNECT</button>
            <div class="flex-spacer"></div>
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
