<mat-tab-group>
    <mat-tab label="Word-based teachings">
        <ng-template matTabContent>
        <p>These are word based teachings...</p>
    </ng-template>
    </mat-tab>
    
    <mat-tab label="Books">
        <ng-template matTabContent>
        <p>These spiritual and life applicable ones..</p>
    </ng-template>
    </mat-tab>
    <mat-tab class="Conferences & Convocations">
        <ng-template matTabContent>
         <p> major conferences and seminars</p>
    </ng-template>
    </mat-tab>
    <mat-tab class="LCI Sunday teachings">
        <ng-template matTabContent>
        <p>Life Church International-Apostolic House teachings</p>
    </ng-template>
    </mat-tab>
    <mat-tab class="Gathering of Champions">
        <ng-template matTabContent>
        <p>Truth mentorship teachings and events</p>
    </ng-template>
    </mat-tab>
</mat-tab-group>